<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(tenants)}">
        <h2>List Tenant</h2>
        <table class="table table-striped">
            <tr>
                <th>No</th>
                <th>Tenants Id</th>
                <th>Nama</th>
                <th>Owner</th>
                <th>alamatr</th>
                <th>No Identitas</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="tenant : ${tenants}">
                <td th:text="1">No</td>
                 <td th:text="${tenant.tenantId}"><a href="/tenant/${tenant.tenantId}">Id</a></td>
                <td th:text="${tenant.nama}">Nama</td>
                <td th:text="${tenant.owner}">Owner</td>
                <td th:text="${tenant.alamat}">Alamat</td>
                <td th:text="${tenant.noIdentitas}">No Identitas</td>
                <td><a th:href="${'/tenant/' + tenant.tenantId}">View</a></td>
                <td><a th:href="${'/tenant/edit/' + tenant.tenantId}">Edit</a></td>
                <td><a th:href="${'/tenant/delete/' + tenant.tenantId}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>