<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(events)}">
        <h2>List Event</h2>
        <a th:href="@{/event/new}">Tambah Event baru</a>
        <table class="table table-striped">
            <tr>
                <th>No</th>
                <th>Event ID</th>
                <th>Nama Event</th>
                <th>Lokasi</th>
                <th>Waktu</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="event : ${events}">
                <td th:text="1">No</td>
                 <td th:text="${event.eventId}"><a href="/event/${event.eventId}">Id</a></td>
                <td th:text="${event.namaEvent}">Nama Event</td>
                <td th:text="${event.lokasi}">Lokasi</td>
                <td th:text="${event.waktu}">Waktu</td>
                <td><a th:href="${'/event/' + event.eventId}">View</a></td>
                <td><a th:href="${'/event/edit/' + event.eventId}">Edit</a></td>
                <td><a th:href="${'/event/delete/' + event.eventId}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>